/* reset */
* {
  padding: 0;
  margin: 0;
  /* to not add padding and margin to the boxsize */
  box-sizing: border-box;
}

/* create variables for easy maintenance */
:root {
  --font1: Helvetica, sans-serif;
  --color1: #202124;
  --color2: #ccc;
  --color3: #fff;
  --color4: #525356;
  --color5: #ddd;
  --color6: #333;
  --color7: #202124;
  --color8: transparent;
  --color9: #555;
  --color10: #3c3c3f; 
}

/* setup font family and background color to the project */
body,
html {
  font-family: var(--font1);
  background-color: var(--color1);
}

/* format header to align itens center and space aroud, flex, letter and border*/
header {
  border-bottom: 1px solid var(--color2);
  padding: 1rem 2rem;
  color: var(--color3);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* fomat search container to center itens and create a gap between itens */
#search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* change background color, radius the field, no border, text and border gap,  text color, font size and field size */
#search-input {
  background-color: var(--color4);
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-weight: bold;
  color: var(--color5);
  width: 400px;
}

/* change placehorder text color */
#search-input::placeholder {
  color: var(--color5);
}

/* create border and add some radius, change color, cursor and animation transition */
#export-notes {
  background-color: var(--color6);
  border: 2px solid var(--color3);
  border-radius: 4px;
  color: var(--color3);
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.4s;
}

/* invert background and text colors */
#export-notes:hover {
  background-color: var(--color3);
  color: var(--color6);
}

/* add container is centralized and text and icon alligned in center */
#add-note-container {
  display: flex;
  /* with size and margin auto, in flex iten is centralized */
  width: 400px;
  margin: 1rem auto 0;
  gap: 1rem;
}

/* radius input field and create a space between text and field border */
#add-note-container input,
#add-note-container button {
  padding: 10px;
  border-radius: 5px;
}

/* format input field */
#add-note-container input {
  /* allow to expand in the container size, like priority */
  flex: 1;
  background-color: var(--color8);
  border: 1px solid var(--color4);
  color: var(--color3);
}

/* format button */
#add-note-container button {
  cursor: pointer;
  background-color: var(--color6);
  color: var(--color3);
  opacity: 0.6;
}

/* button animation */
#add-note-container button:hover {
  opacity: 1;
}

/* format the notes container to show notes in columns */
#notes-container {
  /* format in columns as many as possible in 250px each */
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  padding: 2rem;
  gap: 2rem;
}

/* format note and positioned relative to positioned the icons */
.note {
  min-height: 200px;
  padding: 1rem;
  border: 1px solid var(--color2);
  background-color: var(--color7);
  border-radius: 10px;
  color: var(--color3);
  /* to positioned icons in absolute position */
  position: relative;
}

/* format note textarea */
.note textarea {
  background-color: var(--color8);
  /* don't allow user to change textarea size */
  resize: none;
  color: var(--color3);
  border: none;
  /* to fill all 200px */
  height: 100%;
  /* to not highlite */
  outline: none;
}

/* class bi bi-pin is referred as bi-pin, fix a absolute position in the note container
create a button style */
.note .bi-pin {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 1.2rem;
  background-color: var(--color6);
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  opacity: 0.7;
  transition: 0.3s;
}

/* animate pin icon */
.note .bi-pin:hover {
  opacity: 1;
}

/* when pass the mouve over the note, only i tags will show up */
.note:hover > i {
    opacity: 1;
}

/* format other icons and put one over other, overlap */
.note .bi-x-lg,
.note .bi-file-earmark-plus {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 0.9rem;
  padding: 5px;
  transition: 0.3s;
  color: var(--color9);
  cursor: pointer;
  /* to not show on project, just customer pass the mouse over te note */
  opacity: 0;
}

/* to avoid icons overlap */
.note .bi-file-earmark-plus {
    top: 40px;
}

/* hightlite icons  */
.note .bi-x-lg:hover,
.note .bi-file-earmark-plus:hover {
  color: var(--color3);
}

/* class fixed shpw up notes in different background color */
.note.fixed {
background-color: var(--color10);
}

/* responsiviness */
@media (max-width: 450px) {
  header {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  #search-container {
    width: 100%;
  }
  #search-input {
    width: 100%;
  }
  #add-note-container {
    width: 100%;
    padding: 0 2rem;
  }
  #notes-container {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}